In [1]:
import pandas as pd

In [11]:
clicks_data = pd.read_csv('train_sample.csv', parse_dates=['click_time'])

In [6]:
clicks_data.shape

(100000, 8)

In [7]:
clicks_data.head(5)

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0

# 1) Features from timestamps
From the timestamps, create features for the day, hour, minute and second. Store these as new integer columns day, hour, minute, and second in a new DataFrame clicks.

In [13]:
# Add new columns for timestamp features day, hour, minute, and second
# dataFrame['New_Feature_Name'] = dataFrame['feature_name'].dt.day/hour/minute/second.astype('uint8')
clicks =  clicks_data.copy()
clicks['day'] = clicks['click_time'].dt.day.astype('uint8')
clicks['hour'] = clicks['click_time'].dt.hour.astype('uint8')
clicks['minute'] = clicks['click_time'].dt.minute.astype('uint8')
clicks['second'] = clicks['click_time'].dt.second.astype('uint8')

# 2) Label Encoding

For each of the categorical features ['ip', 'app', 'device', 'os', 'channel'], use scikit-learn's LabelEncoder to create new features in the clicks DataFrame. The new column names should be the original column name with '_labels' appended, like ip_labels.

In [40]:
from sklearn import preprocessing

cat_features = ['ip', 'app', 'device', 'os', 'channel']

# Create new columns in clicks using preprocessing.LabelEncoder()
label_encoder = preprocessing.LabelEncoder()
for feature in cat_features:
    encoded = label_encoder.fit_transform(clicks[feature])
    clicks[feature + '_labels'] = encoded

In [41]:
clicks.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,day,hour,minute,second,ip_labels,app_labels,device_labels,os_labels,channel_labels
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0,7,9,30,38,15220,11,1,13,159
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0,7,13,40,27,18448,24,1,17,67
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0,7,18,5,24,17663,11,1,19,52
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0,7,4,58,8,16496,12,1,13,146
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0,9,9,0,9,11852,11,1,1,45

In [42]:
encodedfeature_cols = ['day', 'hour', 'minute', 'second', 
                'ip_labels', 'app_labels', 'device_labels',
                'os_labels', 'channel_labels']

valid_fraction = 0.1
clicks_srt = clicks.sort_values('click_time')
valid_rows = int(len(clicks_srt) * valid_fraction)
train = clicks_srt[:-valid_rows * 2]
# valid size == test size, last two sections of the data
valid = clicks_srt[-valid_rows * 2:-valid_rows]
test = clicks_srt[-valid_rows:]

In [49]:
clicks_srt.shape

(100000, 17)

In [50]:
train.shape

(80000, 17)

In [51]:
df = pd.DataFrame({'Apple': 30, 'Bannas': 15})

ValueError: If using all scalar values, you must pass an index

In [60]:
df = pd.DataFrame({'Yes': [50,33,45,45,54], 'No': [131,33,54, 66, 22]})
df

   Yes   No
0   50  131
1   33   33
2   45   54
3   45   66
4   54   22

In [97]:
clicks.shape

(100000, 17)

In [103]:
clicks.iloc[:-5 * 5].shape, clicks.shape

((99975, 17), (100000, 17))

In [115]:
clicks.loc[:2, 'ip']

0     87540
1    105560
2    101424
Name: ip, dtype: int64

In [135]:
clicks.loc[clicks.app_labels == 11]

Empty DataFrame
Columns: [ip, app, device, os, channel, click_time, attributed_time, is_attributed, day, hour, minute, second, ip_labels, app_labels, device_labels, os_labels, channel_labels]
Index: []

In [132]:
clicks.loc[:10, ['app', 'os']]

    app  os
0     0   0
1    25  17
2     0   0
3    13  13
4     0   0
5     3  17
6     1  17
7     9  25
8     2  22
9     3  19
10    3  22